# Name all boards PORT as /dev/riot/tty-board-name
#
#     udevadm info  /dev/ttyACM0
#     ID_VENDOR_ID == ATTRS{idVendor}
#     ID_MODEL_ID  == ATTRS{idProduct}
#
#     udevadm info --attribute-walk --name /dev/ttyACM0
#     # for more detailed output with `ATTRS`

# If support for more than one board of the same type is needed then each
# board need is own rule and add a second SYMLINK following the scheme
# /dev/riot/tty-board-name_NUMBER
# e.g: /dev/riot/tty-board-samr21-xpro_0 & /dev/riot/tty-board-samr21-xpro_1

# Udev only parses SUBSYSTEM and one parent. For others, we will rely on ENV
# variables defined by 60-serial.rules
# So the current filename should be higher than 60-serial.rules
#
# Documentation:
#
# * The whole documentation from the following and also specifically this part
#   http://reactivated.net/writing_udev_rules.html#udevinfo
# * The variables definition in
#   /lib/udev/rules.d/60-serial.rules

# How to find out about udev attributes of device:
# Connect J-Link to PC
# Terminal: cat /var/log/syslog
# Find path to where J-Link device has been "mounted"
# sudo udevadm info --query=all --attribute-walk --path=<PathExtractedFromSyslog>
# sudo udevadm info --attribute-walk /dev/bus/usb/<Bus>/<Device> (extract <Bus> and <Device> from "lsusb")
# Reload udev rules after rules file change:
#   sudo udevadm control --reload-rules
#   sudo udevadm trigger

# nucleo-g474re
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374e", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="005600333137510839383538", SYMLINK+="riot/tty-nucleo-g474re"

# nucleo-g071rb
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="066FFF343135485043175029", SYMLINK+="riot/tty-nucleo-g071rb"

# nucleo-wl55jc
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374e", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="003F001C3438510634313939", SYMLINK+="riot/tty-nucleo-wl55jc"

# p-nucleo-wb55
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="0668FF3837334D4E43121921", SYMLINK+="riot/tty-p-nucleo-wb55"
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="066BFF3837334D4E43062019", SYMLINK+="riot/tty-p-nucleo-wb55"

# nucleo-l552ze-q
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="066DFF505352716587223128", SYMLINK+="riot/tty-nucleo-l552ze-q"

# nucleo-l4r5zi
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="066EFF504955857567074131", SYMLINK+="riot/tty-nucleo-l4r5zi"

# nucleo-l496zg
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="066EFF383930434B43222549", SYMLINK+="riot/tty-nucleo-l496zg"

# p-l496g-cell02
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="066FFF343636574D43054242", SYMLINK+="riot/tty-p-l496g-cell02"

# b-l475e-iot01a
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="066DFF555051897267233646", SYMLINK+="riot/tty-b-l475e-iot01a"

# nucleo-l452re
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="066FFF535155878281031629", SYMLINK+="riot/tty-nucleo-l452re"

# nucleo-l432kc
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="0670FF535750877267204547", SYMLINK+="riot/tty-nucleo-l432kc"

# nucleo-l433rc
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="0670FF525750877267072157", SYMLINK+="riot/tty-nucleo-l433rc"

# nucleo-stm32l476g-disco
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="0666FF535550755187236026", SYMLINK+="riot/tty-stm32l476g-disco"

# nucleo-l152re
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="066BFF485550755187074222", SYMLINK+="riot/tty-nucleo-l152re"

# nucleo-l073rz
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="0670FF544852707267181129", SYMLINK+="riot/tty-nucleo-l073rz"

# i-nucleo-lrwan1
## This Board doesn't comme with an integrated programmer, it is wired to a STLINK-V2 programmer, which matches the serial
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="066DFF485550755187043555", SYMLINK+="riot/tty-i-nucleo-lrwan1"

# b-l072z-lrwan1
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="0674FF535753845187212018", SYMLINK+="riot/tty-b-l072z-lrwan1"
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="0670FF373731553457210730", SYMLINK+="riot/tty-b-l072z-lrwan1"

#stm32l0538-disco
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="0674FF515056805087162122", SYMLINK+="riot/tty-stm32l0538-disco"

#stm32f723e-disco
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="066BFF504955857567192810", SYMLINK+="riot/tty-stm32f723e-disco"

#nucleo-f767zi
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="0670FF545753845187043822", SYMLINK+="riot/tty-nucleo-f767zi"

# nucleo-f746zg
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="0670FF485550755187064051", SYMLINK+="riot/tty-nucleo-f746zg"

# stm32f429i-disc1
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="066CFF504955857567201822", SYMLINK+="riot/tty-stm32f429i-disc1"

# nucleo-f446re
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="0670FF485457725187123744", SYMLINK+="riot/tty-nucleo-f446re"

# nucleo-f410rb
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="066DFF515456707067162657", SYMLINK+="riot/tty-nucleo-f410rb"

# nucleo-f410re
## nucleo-f410re_0
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="066EFF504955857567172841", SYMLINK+="riot/tty-nucleo-f401re", SYMLINK+="riot/tty-nucleo-f401re_0"
## nucleo-f410re_1
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="066EFF323535474B43053731", SYMLINK+="riot/tty-nucleo-f401re", SYMLINK+="riot/tty-nucleo-f401re_1"

# nucleo-f334r8
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="0672FF525056805087103008", SYMLINK+="riot/tty-nucleo-f334r8"

# nucleo-f303k8
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="066BFF485550755187034424", SYMLINK+="riot/tty-nucleo-f303k8"

# nucleo-f303re
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="066DFF555654725187073815", SYMLINK+="riot/tty-nucleo-f303re"

# nucleo-f207zg
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="0668FF565251887067031833", SYMLINK+="riot/tty-nucleo-f207zg"

# nucleo-f103rb
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="066DFF323338424E43242543", SYMLINK+="riot/tty-nucleo-f103rb"

# nucleo-f091rc
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="0671FF555152876767013751", SYMLINK+="riot/tty-nucleo-f091rc"

# nucleo-f042k6
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="0672FF485550755187232609", SYMLINK+="riot/tty-nucleo-f042k6"

# nucleo-f072rb
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="066AFF485550755187060827", SYMLINK+="riot/tty-nucleo-f072rb"

# nucleo-f070rb
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="0673FF514951775087032122", SYMLINK+="riot/tty-nucleo-f070rb"

# nucleo-f030r8
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="0674FF485550755187043858", SYMLINK+="riot/tty-nucleo-f030r8"

# iotlab-m3
## iotlab-m3_0
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6010", ATTRS{manufacturer}=="IoT-LAB", ATTRS{product}=="M3", ATTRS{serial}=="TRIBE4441125307157009", SYMLINK+="riot/tty-iotlab-m3", SYMLINK+="riot/tty-iotlab-m3_0"
## iotlab-m3_1
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6010", ATTRS{manufacturer}=="IoT-LAB", ATTRS{product}=="M3", ATTRS{serial}=="TRIBE4441125307150001", SYMLINK+="riot/tty-iotlab-m3", SYMLINK+="riot/tty-iotlab-m3_1"
## iotlab-m3_2
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6010", ATTRS{manufacturer}=="IoT-LAB", ATTRS{product}=="M3", ATTRS{serial}=="TRIBE4441125307157002", SYMLINK+="riot/tty-iotlab-m3", SYMLINK+="riot/tty-iotlab-m3_2"

# nrf52840-mdk
## nrf52840-mdk_0
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0d28", ATTRS{idProduct}=="0204", ATTRS{manufacturer}=="ARM", ATTRS{serial}=="10260000033adcbb00000000000000000000000097969902", SYMLINK+="riot/tty-nrf52840-mdk", SYMLINK+="riot/tty-nrf52840-mdk_0"
## nrf52840-mdk_1
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0d28", ATTRS{idProduct}=="0204", ATTRS{manufacturer}=="ARM", ATTRS{serial}=="10260000033abfa400000000000000000000000097969902", SYMLINK+="riot/tty-nrf52840-mdk", SYMLINK+="riot/tty-nrf52840-mdk_1"

# nrf52840dk
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1015", ATTRS{manufacturer}=="SEGGER", ATTRS{serial}=="000683890121", SYMLINK+="riot/tty-nrf52840dk"

# nrf52dk
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1015", ATTRS{manufacturer}=="SEGGER", ATTRS{serial}=="000682770831", SYMLINK+="riot/tty-nrf52dk"

# dwm1001
## dwm1001_0
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1366", ATTRS{idProduct}=="0105", ATTRS{manufacturer}=="SEGGER", ATTRS{serial}=="000760048177", SYMLINK+="riot/tty-dwm1001", SYMLINK+="riot/tty-dwm1001_0"
## dwm1001_1
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1366", ATTRS{idProduct}=="0105", ATTRS{manufacturer}=="SEGGER", ATTRS{serial}=="000760103449", SYMLINK+="riot/tty-dwm1001", SYMLINK+="riot/tty-dwm1001_1"
## dwm1001_2
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1366", ATTRS{idProduct}=="0105", ATTRS{manufacturer}=="SEGGER", ATTRS{serial}=="000760103520", SYMLINK+="riot/tty-dwm1001", SYMLINK+="riot/tty-dwm1001_2"
## dwm1001_3
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1366", ATTRS{idProduct}=="0105", ATTRS{manufacturer}=="SEGGER", ATTRS{serial}=="000760103401", SYMLINK+="riot/tty-dwm1001", SYMLINK+="riot/tty-dwm1001_3"
## dwm1001_4
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1366", ATTRS{idProduct}=="0105", ATTRS{manufacturer}=="SEGGER", ATTRS{serial}=="000760103600", SYMLINK+="riot/tty-dwm1001", SYMLINK+="riot/tty-dwm1001_4"
## dwm1001_5
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1366", ATTRS{idProduct}=="0105", ATTRS{manufacturer}=="SEGGER", ATTRS{serial}=="000760103435", SYMLINK+="riot/tty-dwm1001", SYMLINK+="riot/tty-dwm1001_5"

# frdm-kw41z
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1015", ATTRS{manufacturer}=="SEGGER", ATTRS{serial}=="000621000000", ATTRS{product}=="J-Link", SYMLINK+="riot/tty-frdm-kw41z"

# frdm-k64f
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0d28", ATTRS{idProduct}=="0204", ATTRS{manufacturer}=="ARM", ATTRS{serial}=="0240000047784e4500329003d745001fddb1000097969900", SYMLINK+="riot/tty-frdm-k64f"

# pba-d-01-kw2x
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0d28", ATTRS{idProduct}=="0204", ATTRS{manufacturer}=="MBED", ATTRS{serial}=="02000203C3194E743EE5B38C", SYMLINK+="riot/tty-pba-d-01-kw2x"

# usb-kw41z
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1015", ATTRS{manufacturer}=="SEGGER", ATTRS{serial}=="000621000000", SYMLINK+="riot/tty-usb-kw41z"

# samr21-xpro
# samr21-xpro_0
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2111", ATTRS{manufacturer}=="Atmel Corp.", ATTRS{serial}=="ATML2127031800004957", SYMLINK+="riot/tty-samr21-xpro", SYMLINK+="riot/tty-samr21-xpro_0"
# samr21-xpro_1
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2111", ATTRS{manufacturer}=="Atmel Corp.", ATTRS{serial}=="ATML2127031800011458", SYMLINK+="riot/tty-samr21-xpro", SYMLINK+="riot/tty-samr21-xpro_1"
# samr21-xpro_2
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2111", ATTRS{manufacturer}=="Atmel Corp.", ATTRS{serial}=="ATML2127031800004624", SYMLINK+="riot/tty-samr21-xpro", SYMLINK+="riot/tty-samr21-xpro_2"

# atmega256rfr2-xpro
# atmega256rfr2-xpro_0
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2111", ATTRS{manufacturer}=="Atmel Corp.", ATTRS{serial}=="ATML1784031800003040", SYMLINK+="riot/tty-atmega256rfr2-xpro", SYMLINK+="riot/tty-atmega256rfr2-xpro_0"
# atmega256rfr2-xpro_1
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2111", ATTRS{manufacturer}=="Atmel Corp.", ATTRS{serial}=="ATML1784031800003668", SYMLINK+="riot/tty-atmega256rfr2-xpro", SYMLINK+="riot/tty-atmega256rfr2-xpro_1"

# samr34-xpro
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2111", ATTRS{manufacturer}=="Atmel Corp.", ATTRS{serial}=="ATML3167051800004264", SYMLINK+="riot/tty-samr34-xpro"

# hamilton
SUBSYSTEM=="usb", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1366", ATTRS{idProduct}=="0101", ATTRS{manufacturer}=="SEGGER", ATTRS{serial}=="000269307832", SYMLINK+="riot/tty-hamilton"

# z1
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{manufacturer}=="Silicon Labs", ATTRS{serial}=="Z1RC1516", SYMLINK+="riot/tty-z1"

# ek-lm4f120xl
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1cbe", ATTRS{idProduct}=="00fd", ATTRS{manufacturer}=="Texas Instruments", ATTRS{serial}=="0E1040B2", SYMLINK+="riot/tty-ek-lm4f120xl"

# remote-revb
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{manufacturer}=="Silicon Labs", ATTRS{serial}=="ZOL-RM02-B1002281", SYMLINK+="riot/tty-remote-revb"

# remote-reva
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{manufacturer}=="Silicon Labs", ATTRS{serial}=="00D87D71", SYMLINK+="riot/tty-remote-reva"

# hifive1b
# hifive1b_0
DEVPATH=="*:1.0/tty/ttyACM*" SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1061", ATTRS{manufacturer}=="SEGGER", ATTRS{serial}=="000979001207", SYMLINK+="riot/tty-hifive1b", SYMLINK+="riot/tty-hifive1b_0"
# hifive1b-esp32_0
DEVPATH=="*:1.2/tty/ttyACM*" SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1061", ATTRS{manufacturer}=="SEGGER", ATTRS{serial}=="000979001207", SYMLINK+="riot/tty-hifive1b-esp32", SYMLINK+="riot/tty-hifive1b-esp32_0"
# hifive1b_1
DEVPATH=="*:1.0/tty/ttyACM*" SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1061", ATTRS{manufacturer}=="SEGGER", ATTRS{serial}=="000979001342", SYMLINK+="riot/tty-hifive1b", SYMLINK+="riot/tty-hifive1b_1"
# hifive1b-esp32_1
DEVPATH=="*:1.2/tty/ttyACM*" SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1061", ATTRS{manufacturer}=="SEGGER", ATTRS{serial}=="000979001342", SYMLINK+="riot/tty-hifive1b-esp32", SYMLINK+="riot/tty-hifive1b-esp32_1"

# mbed_lpc1768
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0d28", ATTRS{idProduct}=="0204", ATTRS{manufacturer}=="MBED", ATTRS{serial}=="10106025f8ce4f04b222618f3367bbc51327", SYMLINK+="riot/tty-mbed_lpc1768"

# arduino-mega2560
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="2a03", ATTRS{idProduct}=="0042", ATTRS{manufacturer}=="Arduino Srl", ATTRS{serial}=="754333137393516102B1", SYMLINK+="riot/tty-arduino-mega2560"

# arduino-uno
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0043", ATTRS{manufacturer}=="Arduino (www.arduino.cc)", ATTRS{serial}=="752323032353519081F1", SYMLINK+="riot/tty-arduino-uno"

# arduino-due
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="2a03", ATTRS{idProduct}=="003d", ATTRS{manufacturer}=="Arduino (www.arduino.org)", ATTRS{serial}=="75430333137351E07201", SYMLINK+="riot/tty-arduino-due"

# arduino-zero
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2157", ATTRS{manufacturer}=="Atmel Corp.", ATTRS{serial}=="00000000AZE000000166", SYMLINK+="riot/tty-arduino-zero"

# slstk3402a
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1015", ATTRS{manufacturer}=="Silicon Labs", ATTRS{serial}=="000440113873", SYMLINK+="riot/tty-slstk3402a"

# openmote-b
## openmote-b_0
DEVPATH=="*/2-1.5.2:1.1/ttyUSB*/tty/ttyUSB*", SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6010", ATTRS{manufacturer}=="FTDI", SYMLINK+="riot/tty-openmote-b_0", SYMLINK+="riot/tty-openmote-b"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1366", ATTRS{idProduct}=="0101", ATTRS{manufacturer}=="SEGGER", ATTRS{serial}=="000801019486", SYMLINK+="riot/jlink-openmote-b", SYMLINK+="riot/jlink-openmote-b_0"
## openmote-b_1
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1366", ATTRS{idProduct}=="0101", ATTRS{manufacturer}=="SEGGER", ATTRS{serial}=="000801019485", SYMLINK+="riot/jlink-openmote-b_1"
DEVPATH=="*/2-1.5.4:1.1/ttyUSB*/tty/ttyUSB*", SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6010", ATTRS{manufacturer}=="FTDI", SYMLINK+="riot/tty-openmote-b_1"
## openmote-b_2
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1366", ATTRS{idProduct}=="0101", ATTRS{manufacturer}=="SEGGER", ATTRS{serial}=="000801019191", SYMLINK+="riot/jlink-openmote-b_2"
DEVPATH=="*/2-1.5.5.2:1.1/ttyUSB*/tty/ttyUSB*", SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6010", ATTRS{manufacturer}=="FTDI", SYMLINK+="riot/tty-openmote-b_2"
## openmote-b_3
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1366", ATTRS{idProduct}=="0101", ATTRS{manufacturer}=="SEGGER", ATTRS{serial}=="000801019159", SYMLINK+="riot/jlink-openmote-b_3"
DEVPATH=="*/2-1.5.5.6:1.1/ttyUSB*/tty/ttyUSB*", SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6010", ATTRS{manufacturer}=="FTDI", SYMLINK+="riot/tty-openmote-b_3"

# cc2538dk
DEVPATH=="*:1.1/ttyUSB*/tty/ttyUSB*", SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="a6d1", ATTRS{manufacturer}=="TI", SYMLINK+="riot/tty-cc2538dk"

# esp32-wroom-32
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{manufacturer}=="Silicon Labs", ATTRS{serial}=="0001", SYMLINK+="riot/tty-esp32-wroom-32"
