# Name all boards PORT as /dev/riot/tty-board-name
#
#     udevadm info  /dev/ttyACM0
#     ID_VENDOR_ID == ATTRS{idVendor}
#     ID_MODEL_ID  == ATTRS{idProduct}
#
#     udevadm info --attribute-walk --name /dev/ttyACM0
#     # for more detailed output with `ATTRS`

# If support for more than one board of the same type is needed then each
# board need is own rule and add a second SYMLINK following the scheme
# /dev/riot/tty-board-name_NUMBER
# e.g: /dev/riot/tty-board-samr21-xpro_0 & /dev/riot/tty-board-samr21-xpro_1

# Udev only parses SUBSYSTEM and one parent. For others, we will rely on ENV
# variables defined by 60-serial.rules
# So the current filename should be higher than 60-serial.rules
#
# Documentation:
#
# * The whole documentation from the following and also specifically this part
#   http://reactivated.net/writing_udev_rules.html#udevinfo
# * The variables definition in
#   /lib/udev/rules.d/60-serial.rules

# nucleo-l496zg
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="066EFF383930434B43222549", SYMLINK+="riot/tty-nucleo-l496zg"

# p-l496g-cell02
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="066FFF343636574D43054242", SYMLINK+="riot/tty-p-l496g-cell02"

# b-l475e-iot01a
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="066DFF555051897267233646", SYMLINK+="riot/tty-b-l475e-iot01a"

# nucleo-l432kc
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="0670FF535750877267204547", SYMLINK+="riot/tty-nucleo-l432kc"

# nucleo-l152re
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="066BFF485550755187074222", SYMLINK+="riot/tty-nucleo-l152re"

# nucleo-l073rz
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="0670FF544852707267181129", SYMLINK+="riot/tty-nucleo-l073rz"

# b-l072z-lrwan1
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="0674FF535753845187212018", SYMLINK+="riot/tty-b-l072z-lrwan1"

#stm32l0538-disco
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="0674FF515056805087162122", SYMLINK+="riot/tty-stm32l0538-disco"

#stm32f723e-disco
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="066BFF504955857567192810", SYMLINK+="riot/tty-stm32f723e-disco"

#nucleo-f767zi
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="0670FF545753845187043822", SYMLINK+="riot/tty-nucleo-f767zi"

# nucleo-f746zg
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="0670FF485550755187064051", SYMLINK+="riot/tty-nucleo-f746zg"

# nucleo-f446re
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="0670FF485457725187123744", SYMLINK+="riot/tty-nucleo-f446re"

# nucleo-f410rb
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="066DFF515456707067162657", SYMLINK+="riot/tty-nucleo-f410rb"

# nucleo-f334r8
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="0672FF525056805087103008", SYMLINK+="riot/tty-nucleo-f334r8"

# nucleo-f303k8
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="066BFF485550755187034424", SYMLINK+="riot/tty-nucleo-f303k8"

# nucleo-f207zg
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="0668FF565251887067031833", SYMLINK+="riot/tty-nucleo-f207zg"

# nucleo-f103rb
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="066DFF323338424E43242543", SYMLINK+="riot/tty-nucleo-f103rb"

# nucleo-f091rc
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="0671FF555152876767013751", SYMLINK+="riot/tty-nucleo-f091rc"

# iotlab-m3
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6010", ATTRS{manufacturer}=="IoT-LAB", ATTRS{product}=="M3", SYMLINK+="riot/tty-iotlab-m3"

# nrf52840-mdk
## nrf52840-mdk_0
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0d28", ATTRS{idProduct}=="0204", ATTRS{manufacturer}=="ARM", ATTRS{serial}=="10260000033adcbb00000000000000000000000097969902", SYMLINK+="riot/tty-nrf52840-mdk", SYMLINK+="riot/tty-nrf52840-mdk_0"
## nrf52840-mdk_1
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0d28", ATTRS{idProduct}=="0204", ATTRS{manufacturer}=="ARM", ATTRS{serial}=="10260000033abfa400000000000000000000000097969902", SYMLINK+="riot/tty-nrf52840-mdk", SYMLINK+="riot/tty-nrf52840-mdk_1"

# nrf52840dk
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1015", ATTRS{manufacturer}=="SEGGER", ATTRS{serial}=="000683890121", SYMLINK+="riot/tty-nrf52840dk"

# nrf52dk
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1015", ATTRS{manufacturer}=="SEGGER", ATTRS{serial}=="000682770831", SYMLINK+="riot/tty-nrf52dk"

# frdm-kw41z
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1015", ATTRS{manufacturer}=="SEGGER", ATTRS{serial}=="000621000000", SYMLINK+="riot/tty-frdm-kw41z"

# frdm-k64f
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0d28", ATTRS{idProduct}=="0204", ATTRS{manufacturer}=="ARM", ATTRS{serial}=="0240000047784e4500329003d745001fddb1000097969900", SYMLINK+="riot/tty-frdm-k64f"

# pba-d-01-kw2x
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0d28", ATTRS{idProduct}=="0204", ATTRS{manufacturer}=="MBED", ATTRS{serial}=="02000203C3194E743EE5B38C", SYMLINK+="riot/tty-pba-d-01-kw2x"

# samr21-xpro
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2111", ATTRS{manufacturer}=="Atmel Corp.", ATTRS{serial}=="ATML2127031800004957", SYMLINK+="riot/tty-samr21-xpro"

# z1
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{manufacturer}=="Silicon Labs", ATTRS{serial}=="Z1RC1516", SYMLINK+="riot/tty-z1"

# remote-revb
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{manufacturer}=="Silicon Labs", ATTRS{serial}=="ZOL-RM02-B1002281", SYMLINK+="riot/tty-remote-revb"

# hifive-1b
DEVPATH=="*:1.0/tty/ttyACM*" SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1051", ATTRS{manufacturer}=="SEGGER", ATTRS{serial}=="000979001207", SYMLINK+="riot/tty-hifive1b"
# hifive-1b-esp32
DEVPATH=="*:1.2/tty/ttyACM*" SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1366", ATTRS{idProduct}=="1051", ATTRS{manufacturer}=="SEGGER", ATTRS{serial}=="000979001207", SYMLINK+="riot/tty-hifive1b-esp32"

# mbed_lpc1768
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0d28", ATTRS{idProduct}=="0204", ATTRS{manufacturer}=="MBED", ATTRS{serial}=="10106025f8ce4f04b222618f3367bbc51327", SYMLINK+="riot/tty-mbed_lpc1768"
